<html>
   <body>
      <form action = "http://localhost:5000/search" method = "GET">
         <p>Search by Zip Code:</p>
         <p><input type = "text" name = "zzip" /></p>
         <p><input type = "submit" value = "Search" /></p>
      </form>
      <form action = "http://localhost:5000/update" method = "POST">
          <p>Update Zip:</p>
         <p><input type = "text" name = "uzip" /></p>
          <p>Update Population:</p>
         <p><input type = "text" name = "upop" /></p>
         <p><input type = "submit" value = "Submit" /></p>
      </form>
   </body>
</html> 